* {
box-sizing: border-box;
}

*:focus {
	outline: none;
  transition-delay: 2s;
}
body {
font-family: Lucida Sans Typewriter;
background-image: url(../../logssets/img/log-bground.png);
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
}

.login {
margin: 100px auto;
width: 300px;
}
.login-screen {
background-color: #FFF;
padding: 20px;
border-radius: 5px;
}

.app-title {
text-align: center;
color: #777;
font-size: 20px auto;
}

.login-form {
text-align: center;
}
.control-group {
margin-bottom: 10px;
}

input {
text-align: center;
background-color: #ECF0F1;
border: 2px solid transparent;
border-radius: 3px;
font-size: 16px;
font-weight: 200;
font-family: Lucida Sans Typewriter;
padding: 10px 0;
width: 250px;

}

input:focus {
border: 3px solid #777;
box-shadow: none;
}

.btn {
  border: 2px solid transparent;
  background: #ff1a1a;
  color: #ffffff;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  text-decoration: none;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: none;
  transition: 0.5s;
  display: block;
  width: 250px;
  margin: 0 auto;
}

.btn:hover {
  background-color: #ff4d4d;
}

.login-link {
  font-size: 12px;
  color: #444;
  display: block;
	margin-top: 12px;
}